body {

    font-size: 18px;

    color: #333

}

*, 

*::before,
*::after {
    box-sizing: border-box;
}

/* .logo {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
  } */

.container_header {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
}
/* Header */
.header {
    width: 100%;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #333;
}
.header__search {
  display: flex;
  align-items: center;
}

.header__input[type="text"] {
  padding: 20px;
  border: none;
  border-radius: 5px;
  margin-right: 40px;
  margin-left: 20px;
  width: 500px;
}

.header__button[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

/* nav */
.nav {
    font-size: 15px;
    text-transform: uppercase;
}

.nav__link{
    display: inline-block;
    vertical-align: top;
    position: relative;
    color: #333;
    text-decoration: none;

    margin: 0 40px;

    transition: color .2s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;

    background-color: #008000;
    position: absolute;

    top: 100%;
    left: 0;
    z-index: 1;
}

.nav__link:hover {
    color: #008000;
}

.nav__link:hover:after {
    display: block;
}

.nav__link img {
  width: 100%;
  height: 100%;
  position: relative;
  width: 30px;
  height: 30px;
}

/* Catalog */
.container__catalog {


    width: 100%;
    max-width: 1900px;
    margin: 0 ;
    display: flex;
    justify-content: center;
}
.container__product {
    width: 100%;
    max-width: 300px;
    margin: 20 auto;
    margin-top: 0px;
}
.category__link {
    margin: auto; /* Обнуляем значение отступов */
    display: flex;
    font-size: 25px;
    justify-content: center;
    position: relative;
    padding: 20px; /* Значение полей */
    display: inline; /* Отображать как строчный элемент */
    margin-right: 20px; /* Отступ слева */
    border: none; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
    color: #333;
    text-decoration:none;
    align-items: center;
}

.category__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;

    background-color: #008000;
    position: absolute;

    top: 100%;
    left: 0;
    z-index: 1;
}

.category__link:hover {
    color: #008000;
}

.category__link:hover:after {
    display: block;
}

.str__catalog {
    text-align: center;
    margin: 40px;
}

/* Card */

.card {
  width: 100%;
    max-width: 1700px;
    margin: 0 auto;
}

.product-card {
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    width: 270px;
  }

  .product-card:hover {
    transform: translateY(-5px);
  }

  .card-img-top {
    width: 270px;
    height: 250px;
    object-fit: cover;
  }

.card {
    display: block;
    flex-wrap: wrap;
}

.row {
    text-align: center;
    
}
.row h2 {
  margin-top: 20px;
  padding: 0;
  text-align: center;
}
/*
.col-md-6 {
    height: 200px;
    display: inline;
    width: 300px;  
} */

.container__card {
    display: block;
    flex-wrap: wrap;
}

.col-md-6 {
    display: inline-block; /* Размещаем карточки товаров в одной строке */
    width: 200px; /* Задаем ширину карточки товара */
    margin: 100px; /* Задаем отступ между карточками товаров */
}

.btn-primary {
    color: #ffffff;
    text-decoration: none;
}

.btn-primary:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;

    background-color: #008000;
    position: absolute;

    top: 100%;
    left: 0;
    z-index: 1;
}

.btn-primary:hover {
    color: #008000;
}

.btn-primary:hover:after {
    display: block;
}


/* FOOTER */

/* .footer {
    background-color: #333;
    font-size: 18px;
    color:#fff;
}
.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  }
  
  .footer-nav p {
    justify-content: left;
  }

  .footer-nav li {
    margin: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
  }
  
  .footer-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    padding: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
  }
  
  .footer-nav a:hover {
    color: #ccc;
  }  */


  footer {
    background-color: #f2f2f2;
    padding: 10px 0;
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;    
    
  }
  
  .footer-column {
    width: 33.33%;
    /* padding: 0;
    margin-left: 30px; */
    width: auto;
    max-width: 300px;
    height: 150px;
  }
  
  .row-footer {
    justify-content: space-between;
    display: flex;
    margin: 0 50px;    
  }

  @media (max-width: 767px) {
    .footer-column {
      width: 100%;
      padding: 0;
      text-align: center;
      display: flex;
    }
  }
  
  .list-unstyled_set {
    display: block;
    align-items: center;
    position: absolute;
    list-style-type:  none;
  }

  .bottom-bar {
    justify-content: center;
    display: flex;
  }
  .footer-column a {
    display: inline-block;
    vertical-align: top;
    position: relative;
    color: #333;
    text-decoration: none;
    transition: color .2s linear;
}

.footer-column a:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;

    background-color: #008000;
    position: absolute;

    top: 100%;
    left: 0;
    z-index: 1;
}

.footer-column a:hover {
    color: #008000;
}

.footer-column a:hover:after {
    display: block;
}


/* product_card_new_str */

.container_product {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  /* margin-top: 80px; */
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-image img {
  max-width: 400px;
}

.product-info {
  flex-grow: 1;
  margin-left: 20px;
}

.product-description h2 {
  margin-top: 0;
}

.product-description table {
  
  width: 50%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.product-info td {
  padding: 10px;
  border: 1px solid #ccc;
}

.product-price {
  font-size: 24px;
  font-weight: bold;
}

.product-description h3 {
  margin-top: 40px;
}

.product-description p {
  line-height: 1.5;
}